*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	margin: 0;
	font-family: @font-family-sans-serif;
	font-size: @font-size-base;
	line-height: 1;
	color: @gray-darker;
	background-color: @body-bg;
}

a {
	text-decoration: none;
	&:focus {
		outline: none;
	}
}

img {
	max-width: 100%;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}

#wrapper,
#page-wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #f0f0f0;
	overflow: hidden;
}
.header ~ #page-wrapper,
.header ~ #wrapper {
	top: 44px;
}
.bar-tab + #wrapper {
	bottom: 49px;
}
.bar-btn-group + #wrapper {
	bottom: 55px;
}
.bar-shoppingcart + #wrapper {
	bottom: 55px;
}

.second-header-bar ~ #wrapper {
	top: 89px;
}

#scroller,
#page-scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.content {
	position: relative;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	padding-bottom: 61px;
}

.color-cyan {
	color: #21ae9d;
}
.color-cyan-darker {
	color: #009eb3;
}
.color-orange {
	color: #f89d35;
}
.color-blue {
	color: #5fa7e3;
}
.color-yellow {
	color: #fda90b;
}
.color-orange-darker {
	color: #fe7115;
}
.color-green {
	color: @green !important;
}
.color-gray {
	color: @gray !important;
}
.color-gray-dark {
	color: @gray-dark !important;
}
.color-red-light {
	color: @red-light;
}
.color-red-darker {
	color: @red-darker !important;
}

em,i {
	font-style: normal;
}

.clearfix {
	.clearfix();
}



.mt7 {
	margin-top: 7px;
}

/*----------------
 �б�����Ϊ��
-----------------*/
.list-null {
	margin-top: 20%;
	text-align: center;
	.txt {
		font-size: 16px;
		color: #333;
	}
	.intro {
		margin-top: 20px;
		font-size: 14px;
		color: #999;
	}
}

.f12 {
	font-size: 12px !important;
}
.f14 {
	font-size: 14px !important;
}

.mt0 {
	margin-top: 0 !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt16 {
	margin-top: 16px !important;
}
.mt25 {
	margin-top: 25px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt35 {
	margin-top: 35px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt45 {
	margin-top: 45px !important;
}
.mt70 {
	margin-top: 70px !important;
}
.mb10 {
	margin-bottom: 10px;
}
.ml10 {
	margin-left: 10px;
}
.ml20 {
	margin-left: 20px !important;
}
.ml25 {
	margin-left: 25px !important;
}
.p10 {
	padding: 10px;
}